body {
    background-color: #434343ff;
}

header {
    background-color: #980000ff;
    color: #d3d3d3;
}

main {
    background-color: #E8E8E8;
    min-height: 100%;
}

footer {
    background-color: #434343ff;
    color: #d3d3d3;
}

h1, h2, h3, h4 {
    font-family: 'Railway';
}

table.table{
    border: 1px solid black;
    width: 100%;
}
