[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
octorest = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.9"

[scripts]
runserver = "python manage.py runserver"
